.version.index /* version checker */
{
	color: #00000F;
	background-color: #882E73;
}

@-ms-viewport
{
	width: 1024px;
}

@-webkit-viewport
{
	width: 1024px;
}

@-o-viewport
{
	width: 1024px;
}

@-moz-viewport
{
	width: 1024px;
}

@viewport
{
	width: 1024px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1778px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 3747px;
}

#u91
{
	z-index: 2;
	min-height: 768px;
	background-color: #333333;
}

#u102
{
	z-index: 3;
	width: 1024px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u102_img
{
	padding-top: 44px;
	padding-bottom: 45px;
}

#u91-bw
{
	z-index: 2;
	min-height: 768px;
}

#pu109
{
	width: 0.01px;
}

#u109
{
	z-index: 5;
	min-height: 829.6000000000001px;
	background-color: #EEEEEE;
	padding: 93px 70px 87.39999999999986px;
}

#u110-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: relative;
}

#u129
{
	z-index: 44;
	width: 56px;
	height: 1px;
	background-color: #000000;
	margin-top: 30px;
	position: relative;
}

#u117-30
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-top: 106px;
	position: relative;
}

#u109-bw
{
	z-index: 5;
	min-height: 829.6000000000001px;
}

#u115-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
	left: 70px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-bottom: 309px;
}

